@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "DepartureMono";
	src: url("/fonts/DepartureMono/DepartureMono-Regular.woff2") format("woff2"),
		url("/fonts/DepartureMono/DepartureMono-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("/fonts/SourceSansPro/source-sans-pro-v21-latin-regular.woff") format("woff"),
		url("/fonts/SourceSansPro/source-sans-pro-v21-latin-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("/fonts/SourceSansPro/source-sans-pro-v21-latin-700.woff") format("woff"),
		url("/fonts/SourceSansPro/source-sans-pro-v21-latin-700.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@page {
	size: A4;
	margin: 20mm;
}

body {
	font-family: Source Sans Pro, sans-serif;
	background: #f9f9f9;
}

.resume {
	max-width: 800px;
	margin: 0 auto;
}

.smallcaps {
	font-variant: small-caps;
}
